.idea/
.vscode/
*.swp
*.swo
*~

helm-binary-test/
*.tgz
*.tar.gz
*.zip
*.exe

helm-*-amd64
helm-*-arm64
helm-*-ppc64le
helm-*-s390x
helm-*.exe

sha256sum.txt

test-extract-*/
binary-test-chart/
package-test-chart/
show-test-chart/
v4-*/

results/
*.log
